{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create an item</h2>

    {% if message %}
        <h6>{{ message }}</h6>
    {% endif %}

    <form action="{% url 'create' %}" method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        
        <br>
        上传图片：
        <input name="photo" type="file" id="exampleInputFile">
        <button id="photo" class="btn btn-danger" type="submit">上传图像并提交</button>
        <br><br>
       
        
    </form>
{% endblock %}