{% extends "auctions/layout.html" %}

{% block body %}

    <h2>登录</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="请输入用户名...">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="请输入密码...">
        </div>
        <input class="btn btn-primary" type="submit" value="登录">
    </form>

    还没有账号? <a href="{% url 'register' %}">注册.</a>

{% endblock %}