{% extends "auctions/layout.html" %}

{% block body %}

    <h2>注册</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="请输入用户名...">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="请输入邮箱地址...">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="请输入密码...">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="请确认密码...">
        </div>
        <input class="btn btn-primary" type="submit" value="注册">
    </form>

    已经有账号了? <a href="{% url 'login' %}">登录.</a>

{% endblock %}